
@{
    ViewBag.Title = "AgregarCarrito";
}

<h2>Carrito</h2>

<table>
    <thead>
        <trt> 
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th></th>
            </trt>
    </thead>
    <tbody>
        @{
            double total = 0;
        }
        @if (Session["carrito"] != null)
        {
            foreach (var item in Session["carrito"] as List<Proyecto_Ajedrez_v_1.Models.CarritoItem>)
            {
                total += (double)(item.Cantidad * item.Producto.precio);
                <tr>
                    <td>@item.Producto.idproducto</td>
                    <td>@item.Producto.nombre</td>
                    <td>@String.Format("{0:C}", item.Producto.precio)</td>
                    <td>@item.Cantidad</td>
                    <td>@String.Format("{0:C}", (item.Cantidad * item.Producto.precio))</td>
                    @*<td>@Html.ActionLink("Eliminar", "Delete", "Carrito", new { Id = item.Producto.idproducto }, null)</td>
                    *@
                         </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Total</th>
            <th>@String.Format("{0:C}", total)</th>
        </tr>
    </tfoot>
</table>
@Html.ActionLink("Seguir Comprando", "ListarProducto", "Carrito", null, null) | @Html.ActionLink("Terminar Compra", "FinalizaCompra", "Carrito", null, null)




