@model Proyecto_Ajedrez_v_1.Models.producto
@{
    ViewBag.Title = "AgregarCarritoDetalle";
}

<br />
<br />
<br />
<br />



@using (@Html.BeginForm())
{



    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">

                <img style="min-height:300px; width:300px;" src="@Url.Content(Model.image)" />


            </div>



            <div class="col-lg-8 col-md-8 col-sm-8">

                <h2> @Model.nombre</h2>
                <h3>Precio: S/ @Model.precio</h3>
                <h6>Descripcion: @Model.descripcion</h6>

                <input type="number" name="qty" value="0" id="qty" />

                <input type="submit" value="Agregar a Carrito" class="btn btn-primary" />

            </div>



        </div>


    </div>

}
