@model Proyecto_Ajedrez_v_1.Models.categoria

@{
    ViewBag.Title = "DeleteCategoria";
}

<h2>Eliminar Categoria</h2>

<h3>¿Seguro que deseas eliminar categoria?</h3>
<div>
    <h4>categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc_categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_categoria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*
    @Html.ActionLink("Back to List", "")
            *@
        </div>
    }
</div>
