@model Proyecto_Ajedrez_v_1.Models.producto

@{
    ViewBag.Title = "DeleteProducto";
}

<h2>DeleteProducto</h2>

<h3>¿Seguro que desea eliminar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Codigo de Producto: ")
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idproducto)
        </dd>

        <dt>
            @Html.DisplayName("Categoria: ")
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.desc_categoria)
        </dd>

        <dt>
            @Html.DisplayName("Nombre de producto: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Caracteristicas: ")
        </dt>

        <dd>
            @Html.Raw(Model.descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Imagen: ")
        </dt>

        <dd>
            <img class="img-responsive" style="width:300px; height:300px;" src="@Url.Content(@Model.image)" />
        </dd>

        <dt>
            @Html.DisplayName("Precio: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de creación: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a listado", "Index")
        </div>
    }
</div>
