@model IEnumerable<Proyecto_Ajedrez_v_1.Models.producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
     <button type="button" class="btn btn-info"  onclick="location.href='@Url.Action("CreateProducto","Carrito")'">Agregar</button> 
    @*
    @Html.ActionLink("Create New", "Create")
    *@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Codigo")
            @*
    @Html.DisplayNameFor(model => model.idproducto)
            *@
        </th>
        <th>
            @Html.DisplayName("Categoria")
            
        </th>
        <th>
            @Html.DisplayName("Nombre")
            
        </th>
        <th>
            @Html.DisplayName("Descripcion")
            
        </th>
        <th>
            @Html.DisplayName("Imagen")
            
        </th>
        <th>
            @Html.DisplayName("Precio")
            
        </th>
        <th>
            @Html.DisplayName("Fecha creacion")
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idproducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.desc_categoria)
            @* aqui cambie  item.id_categoria por la linea que esta arriba para que salga el nombre de la categoria*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
