@model Proyecto_Ajedrez_v_1.Models.articulo

@{
    ViewBag.Title = "NoticiaDetalle";
}

<h2>NoticiaDetalle</h2>

<div>
    <br />
    <br />
    @*<h4>articulo</h4> *@
    <h3>@Html.DisplayFor(model => model.titulo) </h3>
    <hr />
    <dl class="dl-horizontal">
        
        @*
    <dt>
        @Html.DisplayNameFor(model => model.usuario_id)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.usuario_id)
    </dd>

        *@

        @*
        <dt>
            @*  @Html.DisplayNameFor(model => model.titulo)  
        </dt>

        <dd>
            <h3>@Html.DisplayFor(model => model.titulo) </h3>
        </dd>
        *@
        <dt>
            @*  @Html.DisplayNameFor(model => model.cuerpo)  *@
        </dt>

        <dd>
            @*  @Html.DisplayFor(model => model.cuerpo)  *@
            @Html.Raw(Model.cuerpo)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.autor)  *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>

        @*
    <dt>
        @Html.DisplayNameFor(model => model.articulo_estado_id)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.articulo_estado_id)
    </dd>
        *@
        <dt>
            @*  @Html.DisplayNameFor(model => model.fecha_creacion)  *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a Principal", "Index")
</p>
