@model Proyecto_Ajedrez_v_1.Models.articulo

@{
    ViewBag.Title = "CreateArticulo";
}


@section ckeditor{
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
}

<h2>CreateArticulo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Panel de Noticias</h4>
        <hr />
        @Html.ValidationSummary(true, "Verificar datos", new { @class = "text-danger" })

        @*
    <div class="form-group">
        @Html.LabelFor(model => model.usuario_id,"Codigo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.usuario_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.usuario_id, "", new { @class = "text-danger" })
        </div>
    </div>
        *@

        <div class="form-group">
            @Html.LabelFor(model => model.titulo, "Título :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cuerpo, "Contenido :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.TextAreaFor(model => model.cuerpo, new {@class="ckeditor" }@*new { cols = 60, rows = 6, @class = "form-control" } *@)
                @Html.ValidationMessageFor(model => model.cuerpo, "", new { @class = "text-danger" })
                <script type="text/javascript"> CKEDITOR.replace( 'cuerpo' ); </script>

                @*@Html.EditorFor(model => model.cuerpo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cuerpo, "", new { @class = "text-danger" }) 

                *@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.autor,"Autor :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.autor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.autor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.articulo_estado_id,"Estado :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.articulo_estado_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.articulo_estado_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_creacion,"Fecha de Publicación :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_creacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $('#fecha_creacion').datetimepicker({
            format: "YYYY/MM/DD", locale:'es'
        }).on('dp.change', function (e) {
            $(this).data('DateTimePicker').hide();
        });
        
    });
</script>
