
@{
    ViewBag.Title = "Index";
}

@model IEnumerable<Proyecto_Ajedrez_v_1.Models.venta>
<br />
<br />
<h2>Pedidos Registrados</h2>
<table class="table ">
    <thead>
        <tr>
            <th>Cod Venta</th>
            <th>Fecha de Venta</th>
            <th>SubTotal</th>
            <th>Igv</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var vent in Model)
            {
                <tr>
                    <td>@vent.idventa</td>
                    <td>@vent.diaventa</td>
                    <td>@String.Format("{0:C}", vent.subtotal)</td>
                    <td>@String.Format("{0:C}", vent.igv)</td>
                    <td>@String.Format("{0:C}", vent.Total)</td>
                    <th>@Html.ActionLink("Detalles", "Detalles", "Venta", new { Id = @vent.idventa}, null)</th>
                </tr>
            }
        }
    </tbody>
</table>
